*/node_modules
*node_modules
.env
coverage
coverage.json
typechain
config.json
contract.addresses
deployedAddresses

#Hardhat files
cache
artifacts
*.lock
#Foundry files
out

*.DS_Store

broadcast

# Deployment tools
/data